cat > .gitignore <<'EOF'
# Virtual environment
venv/
__pycache__/
*.pyc
# Editor files
.vscode/
.idea/
# Logs
*.log
# OS
.DS_Store
EOF

# Python cache
__pycache__/
*.pyc
*.pyo

#DFRobot
DFRobot_MatrixLidar/


# Ignore camera output
media/
*.mp4
*.avi
*.jpg
*.png